a:link {
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  border: 1px solid gray;
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}